<div class="movie-container">
	<h2>Trending Movies</h2>
	<%= render partial: "movies/movies", locals: { movies: @movies } %>
</div>
<div class="button-container">
	<a class="movie-button" id="load-more-movies" data-page="2">Load more</a>
</div>