<div class="movie-container">
	<h2>Welcome to Orson</h2>
	<h4>Find new movies, read reviews, add your rating, and discover a new favorite!</h4>
	<div class="row movie-row">
		<% @movielist.each do |movie| %>
			<% if movie.poster_path != nil %>
				<%= link_to image_tag("https://image.tmdb.org/t/p/w300" + movie.poster_path, :alt => movie.title), "/movies/" + movie.id.to_s %>
			<% end %>
		<% end %>
	</div>
		<%= link_to "show me the movies", movies_path, class: "movie-button" %>
</div>



 <!-- action: movie_path(movie.id), controller: movie -->