/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /*LAYOUT*/
 /*LAYOUT*/
/*LAYOUT*/
body {
  background-image: url("wild-sea.png");
  background-repeat: repeat;
}

.nav-bar {
  width: 100%;
  color: white;
  font-family: "Fredoka One";
}

.nav-bar a {
  color: white;
  vertical-align: middle;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar img {
  width: auto;
  height: 80px;
  top: 0px;
}

.nav-bar .logo {
  float: left;
  padding-left: 10px;
}

.nav-bar .user-link {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

.main {
  width: 100%;
  margin-bottom: 50px;
}

.footer {
/*  position: relative;*/
  min-height: 100%;
  padding-top: 60px;
}


  /*HOME PAGE*/
 /*AND*/
/*MOVIE INDEX PAGE*/

.movie-container {
  text-align: center;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  line-height: 90%;
  font-family: "Fredoka One";
}

.movie-container h2 {
  text-transform: uppercase;
}

.movie-row img {
  float: center;
  justify-content: center;
  margin: 30px;
  color: white;
  font-size: 3.6rem;
  line-height: 1.25;
  border: 10px solid white;
  width: 240px;
  height: auto;
}

.movie-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 20px;
  background-color: #77aa66;
  color: white;
  letter-spacing: 1em;
  font-family: "Fredoka One";
}

.movie-button:hover {
  background-color: white;
  border-color: #77aa66;
  color: #77aa66;
  text-transform: lowercase;
}

.button-container {
  text-align: center;
}

  /*MOVIE SHOW PAGE*/
 /*MOVIE SHOW PAGE*/
/*MOVIE SHOW PAGE*/
@media (min-width: 1400px) {

  .movie-info {
    position: fixed;
    margin-right: 50%;
    float: left;
  }

  .movie-info h1, h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Fredoka One";
  }

  .movie-review h3 {
    text-align: center;
  }

  .movie-info p {
    font-size: .75em;
  }

  .movie-poster {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 300px;
    height: auto;
    color: white;
    font-size: 5.6rem;
    line-height: 1.25;
    text-align: center;
  }

  .movie-description {
    width: 400px;
  }

  .movie-review {
    position: relative;
    margin-left: 50%;
    color: white;
    float: right;
  }

  .movie-review a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #77aa66;
    color: white;
    letter-spacing: 1em;
    font-size: .7em;
    font-family: "Fredoka One";
  }

  .movie-review a:hover {
    background-color: white;
    border-color: #77aa66;
    color: #77aa66;
    letter-spacing: 1em;
    text-transform: lowercase;
  }

  .commment-box {
    border: 1px solid red;
  }
}

.movie-page-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.movie-info {
  width: 100%;
}

.movie-info h1, h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fredoka One";
}

.movie-info h1, h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fredoka One";
}

.movie-review h3 {
  text-align: center;
}

.movie-info p {
  font-size: .75em;
}

.movie-review {
  width: 100%
}

.movie-review h3 {
  text-align: center;
}

.movie-info p {
  font-size: .75em;
}

.review-box {
  width: 90%;
  margin: 0 auto;
}

.comment-box {
  border: 1px white;
  border-style: none none solid none;
}

.profile-page {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.profile-page h1 {
  font-family: "Fredoka One";
}

.user-info {
  float: left;
  margin-left: -60px;
  border: 2px solid red;
  float: left;
}

.user-photo {
  height: 300px;
  width: auto;
}

.user-review {
  float: left;
  border: 2px solid blue;
  margin-left: 15px;
  justify-content: center;
}
