<div class="container">
<% @reviews.each do |review| %>
  <p>
    <strong>Title:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.body %>




<h2>Comments</h2>
<% review.comments.each do |comment| %>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
 <!-- link_to 'Destroy Comment', movie_review_comment_path(comment.id), -->
               <!-- method: :delete, -->
               <!-- data: { confirm: 'Are you sure?' }  -->
</p>
-----------------------------------------------------------------
<% end %>
    <!-- all comments -->
     <!-- render 'comments/comments'  -->

    <!-- add a comment -->
    <!-- render 'comments/form'  -->
    <% end %>
  </div>