<div class="container">
<% @reviews.each do |review| %>
  <p>
    <strong>Title:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= review.body %>
  </p>
  <p><%= link_to 'Destroy', movie_review_path(@movie.id),
    method: :delete,
    data: { confirm: 'Are you sure?' } %></p>


<h2>Comments</h2>
<% review.comments.each do |comment| %>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
 <!--  link_to 'Destroy Comment', [@comment.review, @comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }  -->
</p>
<% end %>
    <!-- all comments -->
     <!-- render 'comments/comments'  -->

    <!-- add a comment -->
    <!-- render 'comments/form'  -->
    <% end %>
  </div>