<div class="container">
<p>
  <strong>Title:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Text:</strong>
  <%= @review.body %>
</p>
<p><%= link_to 'Destroy', reviews_path(@review.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>

<!-- all comments -->
<!-- render 'comments/comments' -->

<!-- add a comment -->
<%= render 'comments/form' %>
</div>